# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.packages
.coverage/
.env*
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Archives & credentials
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.pem
*.p12

# iOS
ios/**/dgph
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*sync/

ios/.sconsign.dblite
ios/.tags*
ios/**/.vagrant/
ios/**/DerivedData/
ios/Icon?
ios/profile
ios/xcuserdata/
ios/.generated/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/App.flx
ios/Flutter/App.zip
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Podfile.lock
ios/**/Pods/

ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
# Exceptions to above rules
!ios/default.mode1v3
!ios/default.mode2v3
!ios/default.pbxuser
!ios/default.perspectivev3

# IDE & tooling
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
/build/
**/build/
**/generated_plugin_registrant.*
**/GeneratedPluginRegistrant.*
coverage/

# macOS
macos/**/dgph
macos/**/xcuserdata/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/**/Flutter/ephemeral/
macos/**/Pods/
macos/Podfile.lock

# Windows
windows/flutter/ephemeral/
windows/**/*.suo
windows/**/*.user
windows/**/*.userosscache
windows/**/*.sln.docstates
windows/x64/
windows/x86/
windows/**/*.[Cc]ache
!windows/**/*.[Cc]ache/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Android
/gradle-wrapper.jar
/android/app/.cxx/
/android/.gradle/
/android/app/android-profile
/android/app/android-release
/android/app/debug
/android/app/profile
/android/app/release
android/.idea/
android/captures/
android/local.properties
android/app/google-services.json
android/build/reports/problems/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/key.properties

# Symbolication & obfuscation
app.*.symbols
app.*.map.json
